
body {
    background-color: var(--bg-color);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Titulo "Lista de Tareas" */
#main-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 1.5rem;
    color: var(--primary-color);    
}

#main {
   background-color: var(--primary-color);
   max-width: 70%;
   height: 74vh;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   padding: 1.5rem;
   gap: 1rem;
   border-radius: 5px;
   box-shadow: 0 0 10px gray;
}

#main-form {
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
}

/* Texto "Tarea" */
label {
    color: var(--text-color-task-list);
    padding-left: 5px;
    font-weight: 600;
}

/* Contenedor del Input */
.main-form-input-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 0.5rem;

}

/* Barra para escribir */
#task-input {
    background-color:var(--bg-color-input-task);
    padding: 10px;
    gap: 10px;
    border-radius: 7px;

}

#task-input:focus{
    outline: none;
  }

/* Input válido e inválido */
.input-valid {
    outline: 1px solid green;
}
  
.input-invalid {
outline : 1px solid red;
}

/* Texto Error */
.main-form-helper-text {
    color: var(--helper-text-color);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: none; /*esto es NUEVO*/
}

/* Mostrar texto de error */
.show-helper-text{
    display: block;
}

/* Boton Crear */
#main-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 0rem;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--primary-color);  
     
}

#main-form-button:active {
    background-color: var(--primary-active-color);
}

#main-form-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#main-form-button-icon{
    height: 3rem;
    width: 3rem;
}

/* Lista Contenedor */
#task-list {
    flex-grow: 1;
    padding: 1rem;
    list-style: none;
    background-color: #f4f4f4;
    overflow: auto;
    border-radius: 7px;
}

/* Contenedor Tarea */
.task-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

/* Boton Eliminar */
.task-item-delete-button {
    padding: 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    color: var(--btn-text-color);
    background-color: var(--delete-btn-color);
    transition: all 0.175s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
}

.task-item-delete-button:hover {
    background-color: var(--delete-btn-hover-color);
}

.delete-button-icon {
    height: 2rem;
    width: 2rem;
}

/* Texto de las Tareas */
.task-item-text {
    color: black;
    text-align: justify;
    word-wrap: break-word; /*no se ejecuta*/
    padding: 0.5rem;
}

/* Tarea Tachada */
#task-item-line-through-text {
    color: gray;
    text-decoration: line-through;
    padding: 0.5rem;
}

/* Boton Hecho */
.task-item-check-button {
    padding: 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    color: var(--btn-text-color);
    background-color: var(--check-btn-color);
    transition: all 0.175s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
    height: 3rem;
    width: 3rem;
}

.task-item-check-button:hover {
    background-color: var(--check-btn-hover-color);
}

/* Le agregué los estilos del icon al check-button */

/* .check-button-icon {
    height: 2rem;
    width: 2rem;
} */

/* Contadores de Tareas */
#task-counters {
  
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 6px;
    gap: 2rem;
    background-color:#f4f4f4;
    color: black;
    border-radius: 0.375rem;
}

#task-counters-total, 
#task-counters-completed,
#task-counters-incompleted {
    font-weight: 600;
}


@media (min-width: 320px) and (max-width: 424px) {
    #main {
        max-width: 94%;
        height: 81vh;
    }

    #main-form {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #task-counters-total,
    #task-counters-completed,
    #task-counters-incompleted {
        font-size: 0.9rem;
    }

}

@media (max-width: 425px) {

    #main {
        max-width: 55vh;
        height: 85vh;
    }
}

@media (max-width: 580px) {

    #main-title {
        font-size: 2rem;
        padding: 1.5rem;
    }

    #task-counters{
        gap: 0.5rem;
        flex-direction: column;
    }

    #main{
        max-width: 95%;
        height: 80vh;
    }

    #main-form {
        padding: 0;
    }

}

@media (min-width: 768px) {
    #main {
        width: 50%;    }
}
